.construction {
  display: flex;
  justify-content: center;
  align-content: center;
}

main {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background: #202020;
  color: white;
  display: flex;
  flex-direction: column;
}
