
.nav-container {
  width: 400px;
}

.name-title{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 0px;
  margin: 0px;
}

.nav-links {
  display: flex;
  margin: 5px;
  flex-direction: column;
  justify-content: space-around;
}